<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Create New User</h3>

    <form [formGroup]="userForm" (ngSubmit)="createUser()" class="well">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="" value="" class="form-control" formControlName="name">
        </div>
        <div *ngIf="userForm.controls['name'].hasError('required') && !userForm.controls['name'].pristine" class="alert alert-danger">
          <p>Please enter a name</p>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="" value="" class="form-control" formControlName="username">
        </div>
        <div class="form-group">
            <label for="username">Avatar</label>
            <input type="text" name="" value="" class="form-control" formControlName="avatar">
        </div>
        <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </form>
  </div>
</div>
